* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

.hidden {
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  
    background:linear-gradient(to top left, #8a037f, rgb(218, 153, 165));
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  
  body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to top left, #2b5ab7, #7ed8d0);
  }

  .heading{
   padding-left: 19rem; 
  padding-right: 20.1rem;
   font-size: 10.8vh;
   background:linear-gradient(to top left, #c708b7, rgb(224, 142, 156));
   justify-content: center;
   position: absolute;
  
   font-family: 'Times New Roman', Times, serif;
   text-decoration:underline;
  } 


  .PE {
    display:inline-block;
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 5.1VH;
    text-decoration:solid;
  }

  .we{
    position: absolute;
    left:56%
  }

  .qw{
    position: absolute;
    left: 5%;
  }

  .weight{
    font-size: 4vh;
    position: absolute;
    left:75%;
    background:linear-gradient(to top left, #e9e513, #f4ebb9);
    color: rgb(118, 7, 7);
    border-color:rgb(132, 220, 229);
    top:41%
  }
  .height{
    font-size: 4vh;
    position: absolute;
    left:23%;
    background:linear-gradient(to top left, #44e517, #c6f4b9);
    border-color:rgb(132, 220, 229);
    color: rgb(118, 7, 7);
    top:41%
  }

  .btn{
    font-family: 'Times New Roman', Times, serif;
    display:inline-block ;
    position: absolute;
    top: 65%;
    left:46%;
    font-size: 5.1VH;
    padding: 7px;
    background:linear-gradient(to top left, #043fb6, #9adcd6);
    color: #333;
    border-radius: 10px;
    border-color: black;
  }

  .btn:hover{
    cursor: pointer;
    background:linear-gradient(to top left, #c406b4, rgb(226, 149, 162));
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  .close:hover{
    color: black;
  }

  .value{
    text-decoration: underline;
    position:absolute;
    left:37.7%;
    top:42%;
  }
